.wrapper {
  width: auto;
  height: auto;
  font-family: "Lato", sans-serif;
  font-style: normal;
  padding: 0%;
}
.container__header {
  width: auto;
  height: min-content;
  background-color: #2d303a;
}
.header {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  height: 89px;
  background-color: #2d303a;
  display: flex;
  flex-direction: row;
}

.header__name {
  width: 124px;
  height: 25px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  margin-left: 40px;
  margin-top: 29px;
  margin-bottom: 35px;
  margin-right: auto;
}

.headr__name_star {
  color: #f06c64;
  font-size: 25px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.header__nav {
  width: 438px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #ffffff;
  margin-left: auto;
  margin-top: 42px;
  margin-bottom: 33px;
  margin-right: 40px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.header__nav div {
  margin-right: 16px;
  font-weight: bold;
}
.dot {
  font-size: 7px;
}
.header__nav_links:hover {
  color: #f06c64;
  cursor: pointer;
}
.menu_mobile{
  display: none;
}

.border__header {
  min-width: 1020px;
  width: auto;
  height: 6px;
  background: #323746;
  margin-left: 0%;
}

.slider__container {
  width: auto;
  height: 594px;
  background-color: #f06c64;
}
.slider {
  margin: auto;
  width: 1020px;
  height: 594px;
  background: #f06c64;
  display: grid;
  grid-template-columns: 10% 30% 50% 10%;
}

.slider__button_left {
  margin-top: 283px;
  margin-left: 40px;
}

.slider__button_left:hover {
  cursor: pointer;
}

.slider__button_right {
  margin-top: 283px;
  margin-right: 40px;
  text-align: right;
}

.slider__button_right:hover {
  cursor: pointer;
}

.phone1__container {
  width: auto;
  height: auto;
  margin-top: 54px;
  margin-left: 10px;
}
.phone1__container .phone {
  box-shadow: 25px 25px 0px 0px rgba(77, 56, 56, 0.3);
}
.phone {
  position: absolute;
  height: 458px;
  width: 215.99974930286407px;
  border-radius: 21px;
  background: #f2f2f2;
}

.phone__camera {
  height: 8.876001358032227px;
  width: 8.875999450683594px;
  border-radius: 50px;
  background: #d8d8d8;
  margin-top: 16.48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.phone__camera-eye {
  height: 3.9360008239746094px;
  width: 3.9359970092773438px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #eb5055;
  border-radius: 50%;
}
.phone__dinamyc {
  height: 4.997848144585987px;
  width: 36.004076324099515px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.62px;
  background: #acacac;
}
.phone__display {
  height: 339.0018018159026px;
  width: 194.0020704635681px;
  margin-top: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #c7c7c7;
  display: flex;
  align-items: center;
}
.img_phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.phone__button {
  height: 41.876007080078125px;
  width: 41.876007080078125px;
  border-radius: 0px;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 6.72px;
  display: flex;
  align-items: center;
}
.phone__button-logo {
  height: 16.42475152212137px;
  width: 16.423668165602066px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border-width: 3px;
  border-style: solid;
  border-color: #bababa;
}

.phone2__container {
  transform: rotate(90deg);
        width: auto;
        height: auto;
        text-align: right;
        padding-top: 96px;
        padding-left: 146px;
}

.phone2__container .phone {
  box-shadow: 25px -25px 0px 0px rgba(77, 56, 56, 0.3);
}
.border_slider {
  height: 6px;
  width: auto;
  min-width: 1020px;
  background-color: #ea676b;
}

.our__services_contaner {
  width: auto;
  height: 494px;
  background-color: #f2f2f2;
}
.our__services {
  width: 1020px;
  height: 494px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}
.name__content {
  padding-top: 48px;
  margin-left: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666d89;
  margin-top: 0%;
  margin-bottom: 0%;
}
.text__content {
  padding-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}
.menu__content {
  margin-top: 34px;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #767e9e;
  grid-column-gap: 21px;
  grid-row-gap: 11px;
}
.menu__content h1 {
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
}
.menu__content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: justified;
}
.custom__desing {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}

.inovative__ideas {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}

.love__is__the_answer {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}
.responsive__layout {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}
.support {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}
.like {
  display: grid;
  grid-template-columns: 22% 78%;
  height: auto;
  width: auto;
}
.rim {
  height: 60.000057220458984px;
  width: 60.000064849853516px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #666d89;
}
.rim img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
.other_text {
  margin-left: 14px;
  margin-right: -96px;
  width: auto;
  max-width: 100%;
}
.menu__content h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  padding-bottom: 0px;
  cursor: pointer;
}
.bordrer__our__services {
  background: #ffffff;
  min-width: 1020px;
  width: auto;
  height: 6px;
}
.portfolio__container {
  width: auto;
  height: 864px;
  background: #2d303a;
  margin-top: 6px;
}

.portfolio {
  width: 1020px;
  height: 864px;
  background: #2d303a;
  margin-left: auto;
  margin-right: auto;
}

.portfolio h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  padding-top: 59px;
  margin-left: 40px;
  color: #666d89;
  margin-top: 0%;
  margin-bottom: 0%;
}
.portfolio p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin-top: 13.87px;
  margin-left: 40px;
}
.button__container {
  margin-top: 11.18px;
  margin-left: 40px;
}
.button__container button {
  border-radius: 5px;
  background: #2d303a;
  border: 1px solid #767e9e;
  margin-right: 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #767e9e;
  padding: 5px;
  margin-right: 8px;
}
.button__container button:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #dedede;
}
.four__colum {
  padding-top: 23px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 23px;
}
.portfolio__border {
  height: 6px;
  background: #323746;
  min-width: 1020px;
  width: auto;
}
.footer {
  width: auto;
  height: 76px;
  background: #2d303a;
}
.block__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1020px;
  height: 76px;
  background: #2d303a;
  margin-left: auto;
  margin-right: auto;
}
.block__footer h5 {
  font-size: 13px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #666d89;
  padding-left: 40px;
  margin-top: 30px;
}
.circle__icon__container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 23px;
  margin-left: auto;
  margin-right: 21px;
}
.circle__icon {
  border-radius: 50%;
  background-color: #2d303a;
  border: 1px solid #767e9e;
  height: 31.99974925326046px;
  width: 31.999746958033484px;
  margin-right: 8px;
}
.circle__icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}
.circle__icon:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #dedede;
}
